.main-timeline {
  position: relative;
  margin-top: 6rem;


  .timeline-entry-left {
    margin-right: 12rem;
    width: 700px;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  }

  .timeline-aside {
    position: absolute;
    top: 0;
    right: 0;

    width: 11rem;

  }

}