.author-list {
  background: #fff;
  font-size: .7rem;
  color: #333;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  .author-title {
    padding: .4rem .6rem;
    border-bottom: 1px solid hsla(0,0%,59.2%,.1);
  }
  
  .author-item {
    padding: .4rem .6rem;

    &:hover {
      background: rgba(0,0,0,.02);
    }
    .item {
      display: flex;
      align-items: center;

      .item-logo {
        flex: 0 0 auto;
        width: 2.3rem;
        height: 2.3rem;
        border-radius: 50%;
        margin-right: .3rem;
      }
      .item-info {
        overflow: hidden;
        .info-title {
          font-weight: 500;
          font-size: .6rem;
          margin-bottom: 2px;
          color: #333;
          .level {
            display: inline-block;
            background: #007fff;
            color: #fff;
            font-size: .4rem;
            font-weight: bold;
            padding: 0 2px;
            border-radius: 2px;
            margin-bottom: 2px;
          }
          
        }
        .info-item {
          color: #909090;
          font-size: .5rem;
          margin-bottom: 2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis
        }
      }
    }
  }

  .all-author {
    padding: .4rem .6rem;
    text-align: center;
    font-size: .7rem;
    color: #007fff;
    border-top: 1px solid hsla(0,0%,59.2%,.1);
  }

}