
html {
  font-size: 1.5rem;
  color: #71777c;
}


body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f4f5f4;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none
}

.active a{
  color: #007fff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #717171;

  &:hover {
    color: #007fff;
  }
}



button {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  transition: background-color .3s,color .3s;
  text-transform: none
}

p {
  margin: 0;
  padding: 0;
}